{% include 'header.html' %}


<!--classimage-->
<section class="classimage" id="classimage">
    <div class="row justify-content-center m-0 my-5">
      <img src="/static/images/class-single-banner.jpg" class="img-fluid p-0">   
        <div class="col-sm-12"> 
            <div class="row justify-content-center mt-5">
                <div class="col-sm-7">
                    <h1>Basic English Speaking <br> and Grammar</h1>
                    <ul class="list-inline">
                        <li class="list-inline-item border-end"><a href="/" class="text-decoration-none text-dark pe-3 back">Home</a></li>
                        <li class="list-inline-item">Classes</li>
                    </ul> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel venenatis felis. Fusce id lectus sit amet nisi ornare ultricies. In sagittis lacinia lorem et tristique. Quisque mauris neque, sollicitudin sit amet imperdiet in, scelerisque sit
                       <br> amet arcu. In vehicula sem eget nisi convallis, a mattis orci imperdiet. Curabitur vitae sapien vel lectus sagittis
                       <br> consequat. Nullam enim velit, dignissim vel viverra ac, eleifend ut tellus.
                    </p>
                    <p>Nunc at tincidunt nisl. Nullam fringilla quis odio vitae eleifend. Quisque sed mi erat. In hac habitasse platea dictumst. Vivamus mattis nunc quis turpis pretium sollicitudin. In eu semper justo. Phasellus facilisis hendrerit massa, sed
                       <br> auctor lacus convallis et. Vestibulum ac odio interdum, efficitur nisl ut, sollicitudin arcu. Donec commodo elementum tempus. In hac habitasse platea dictumst.
                    </p> 
                    <img src="/static/images/class-gallery1.jpg" class="img-fluid rounded-4 w-100 ">  
                    <div class="row mt-4 text-center">
                        <div class="col-sm-3">
                            <img src="/static/images/class-gallery2.jpg" class="img-fluid rounded-4">
                        </div>
                        <div class="col-sm-3">
                            <img src="/static/images/class-gallery3.jpg" class="img-fluid rounded-4">
                        </div>
                        <div class="col-sm-3">
                            <img src="/static/images/class-gallery4.jpg" class="img-fluid rounded-4 h-100">
                        </div>
                        <div class="col-sm-3">
                            <img src="/static/images/class-gallery5.jpg" class="img-fluid rounded-4 h-100">
                        </div>    
                    </div>
                    <p class="my-4">Donec luctus hendrerit sagittis. Cras pellentesque convallis tempus. Praesent finibus lacus at urna fringilla,
                       <br> fermentum sodales enim sodales. Sed vel eros a mi egestas consectetur. Donec eleifend ornare mauris, in tincidunt
                       <br> ex laoreet et. Donec eu arcu euismod, pellentesque arcu eu, condimentum nibh. Sed blandit id mauris sed suscipit.
                    </p>
                    <p>Nam aliquet euismod metus in hendrerit. Quisque finibus facilisis velit, eget posuere nulla suscipit ut. Vivamus non
                       <br> quam massa. Nulla facilisi. Mauris vitae viverra leo. Praesent nec risus non dui iaculis vehicula at id ante. Morbi
                       <br> hendrerit leo libero, in dictum dolor condimentum eu. Etiam dictum enim neque, eu pharetra orci euismod at.
                    </p>
                    <h4>Education Programs</h4>  
                    <p>Aliquam dui tellus, sollicitudin eget malesuada at, blandit id magna. Integer non mauris urna. Curabitur placerat
                       <br> metus in pulvinar imperdiet. Vivamus bibendum eu tellus quis consectetur. Aliquam tincidunt dui augue, at porttitor
                       <br> quam semper et.
                    </p>
                    <p>Vestibulum aliquam leo sed ultricies ullamcorper. Aliquam eu rutrum est, quis faucibus ligula. Nulla dignissim odio
                       <br> lorem, id imperdiet sem dignissim eget. Nullam feugiat quam nec dolor posuere tempus sed eu mauris. Phasellus
                       <br> tempus sapien at nunc volutpat, et convallis magna ultrices. Duis eu neque ut arcu accumsan consectetur.
                    </p>
                    <h4>Activities Involved</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline">
                                <li><i class="fa fa-pencil orange pe-3"></i>Sensory Time</li>
                                <li><i class="fa fa-pencil orange pe-3"></i>Free Play with Technology Corner</li>
                                <li><i class="fa fa-pencil orange pe-3"></i>Puppet shows and skits</li>
                            </ul>    
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-inline">
                                <li><i class="fa fa-pencil orange pe-3"></i>Creative Time</li>
                                <li><i class="fa fa-pencil orange pe-3"></i>Language Readiness</li>
                                <li><i class="fa fa-pencil orange pe-3"></i>Opportunities for fine and gross motor</li>
                            </ul>
                        </div>        
                    </div> 
                    <div class="col-sm-4 mt-5">
                        <a href="/contact/"class="text-decoration-none py-2 pe-3 ps-2 bluz rounded-pill border"><span class="me-4 circle3"><i class="fa fa-long-arrow-right blue"></i></span><span class="text-white me-5">Enroll Now</span></a>
                    </div>         
                </div>
                <div class="col-sm-3">
                    <div class="bord bg-white rounded-5 py-5 px-2 high2 ">
                         <h5 class="text-center">Class Information</h5>
                         <table class="table table-borderless border-bottom pb-5">
                            <tr>
                                <td><i>Mon-Fri</i></td>
                                <td class="fw-bold text-primary text-end"><i>10 AM - 12 AM</i></td>
                            </tr>
                            <tr>
                                <td><i>Age</i></td>
                                <td class="fw-bold text-primary text-end"><i>9-14 Years</i></td>
                            </tr>
                            <tr>
                                <td><i>Class Size</i></td>
                                <td class="fw-bold text-primary text-end"><i>20-30 Kids</i></td>
                            </tr>
                            <tr class="pb-5">
                                <td><i>Coures Duration</i></td>
                                <td class="fw-bold text-primary text-end"><i>25 hours</i></td>
                            </tr>    
                         </table> 
                         <div class="row mt-5">
                            <div class="col-sm-3 px-0 text-end">
                                <img src="/static/images/thumb1.png" class="img-fluid">
                            </div>
                            <div class="col-sm-9 ">
                                <h4>Hubert Franck</h4>
                                <p>English Teacher</p>
                            </div>
                            <div class="col-sm-12 text-center mt-3">
                                <a href="/contact/"class="text-decoration-none py-2 pe-3 ps-2 bluz rounded-pill border"><span class="me-5 circle3"><i class="fa fa-long-arrow-right blue"></i></span><span class="text-white pe-4">Enroll Now</span></a>
                            </div>
                        </div>     
                    </div> 
                    <div class="bord rounded-5 mt-5 p-3 pt-4">
                        <div class="row">
                            <div class="col-sm-2">
                                <i class="fa fa-file-text-o circle6 text-white fs-3 pt-2 ps-3"></i>
                            </div>
                            <div class="col-sm-9 ms-4">
                                <h5>Class Program</h5>
                                <p>Adobe Acrobat file, 123 KB</p>    
                            </div>    
                        </div>    
                    </div>
                    <div class="bord rounded-5 py-5 mt-5">
                        <h4 class="px-5">Our Contacts</h4>
                        <ul class="list-inline mb-0">
                            <li>
                                <div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/icon15.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h5>Call</h5>
                                        <p>+2 342 5446 67</p>
                    				</div>
                    			</div>
                            </li>
                            <li class="mt-3 " >
                                <div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/icon16.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h5>Work Time</h5>
                                        <p>Mon - Fri 8 AM - 5 PM</p>
                    				</div>
                    			</div>
                            </li>
                            <li class="mt-3 " >
                                <div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/icon17.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h5>Address</h5>
                                        <p>Franklin St, Greenpoint Ave</p>
                    				</div>
                    			</div>
                            </li>
                        </ul> 
                    </div>         
                </div>        
            </div>    
        </div>    
    </div>   
</section>    
<!--classimage end-->

{% include 'footer.html' %}