<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Thankyou</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>



<!--thankyoupage--> 
<section class="404page" id="404page">
	<div class="row justify-content-center m-0">
		<div class="col-sm-12 bga3  py-5">
			<div class="text-center">
				<img src="/static/images/mailthank.png" class="img-fluid w-25">
				<div class="text-center top-75 pt-2">
					<h1  class="pt-3 fw-bold">Thank You</h1>
                    <p class="mt-3 fs-5 mb-2">Your Submission has been received.</p>
                    <p class="fs-5">We will be in touch and contact you soon.</p>
					<div class="mt-5 pt-1">
					<a href="/"class="text-decoration-none py-2 pe-3 ps-2 bluz rounded-pill border-0 hp"><span class="me-5 circle3"><i class="fa fa-long-arrow-right blue"></i></span><span class="text-white pe-4 fs-5">Home Page</span></a>
					</div>
					<ul class="list-inline mt-3 text-center mt-5 pt-3">
						<li class="list-inline-item circle9 mx-2"><a href="https://www.facebook.com/" class="text-decoration-none text-white"><i class="fa fa-facebook fs-3"></i></a></li>
						<li class="list-inline-item circle9 mx-2"><a href="https://www.linkedin.com/" class="text-decoration-none text-white"><i class="fa fa-twitter fs-3"></i></a></li>
						<li class="list-inline-item circle9 mx-2"><a href="https://www.instagram.com/" class="text-decoration-none text-white"><i class="fa fa-linkedin fs-3"></i></a></li>
					</ul> 	
				</div>	
			</div>	
		</div>	
	</div>	
</section>	
<!--thankyoupage end-->


</body>
</html>
