{% include 'header.html' %}

<!--heading-->
<section id="about" class="about">
	<div class="row justify-content-center m-0 mt-5">
		<div class="col-sm-12 text-center blue2 up">
		  <div class="back  position-relative">
			<h1 class="mt-5">Environment Conference</h1>
			<ul class="list-inline mb-5">
				<li class="list-inline-item border-end"><a href="/" class="text-decoration-none text-dark pe-3 back">Home</a></li>
                <li class="list-inline-item border-end"><a href="/classes/" class="text-decoration-none text-dark pe-3 back">Classes</a></li>
				<li class="list-inline-item">Events</li>
			</ul>
           </div>	  
		</div>
	</div>
	<h2 class="fw-bold position-absolute orange shell2 ">Shelly</h2>
</section>
<!--heading end-->

<!--singleevent-->
<section class="singleevent" id="singleevent">
    <div class="row justify-content-center m-0">
        <div class="col-sm-11">
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <div class="mt-5 position-relative">
                        <img src="/static/images/event-gallery1.jpg" class="img-fluid rounded-4 w-100">
                        <p class="orange2 px-4 py-2 text-white  text-center rounded-pill position-absolute top-0 end-0 me-5 mt-4">$15</p>
                    </div> 
                    <div class="row mt-4">
                        <div class="col-sm-3">
                            <img src="/static/images/blog-large5.jpg" class="img-fluid rounded-4">
                        </div>
                        <div class="col-sm-3">
                            <img src="/static/images/blog-large8.jpg" class="img-fluid rounded-4">
                        </div>
                        <div class="col-sm-3">
                            <img src="/static/images/event-gallery4.jpg" class="img-fluid rounded-4 h-100">
                        </div>
                        <div class="col-sm-3">
                            <img src="/static/images/event-gallery5.jpg" class="img-fluid rounded-4 h-100">
                        </div>    
                    </div>
                    <div class="mt-5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel venenatis felis. Fusce id lectus sit amet nisi ornare ultricies. In sagittis lacinia lorem et tristique. Quisque mauris neque, sollicitudin sit amet imperdiet in, scelerisque sit amet arcu. In vehicula sem eget nisi convallis, a mattis orci imperdiet. Curabitur vitae sapien vel lectus sagittis consequat. Nullam enim velit, dignissim vel viverra ac, eleifend ut tellus.</p>
                        <p>Nunc at tincidunt nisl. Nullam fringilla quis odio vitae eleifend. Quisque sed mi erat. In hac habitasse platea dictumst. Vivamus mattis nunc quis turpis pretium sollicitudin. In eu semper justo. Phasellus facilisis hendrerit massa, sed auctor lacus convallis et. Vestibulum ac odio interdum, efficitur nisl ut, sollicitudin arcu. Donec commodo elementum tempus. In hac habitasse platea dictumst.</p>
                        <h3>Activities Involved</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-pencil orange pe-3"></i>Program opening</li>
                            <li><i class="fa fa-pencil orange pe-3"></i>Dance and have fun</li>
                            <li><i class="fa fa-pencil orange pe-3"></i>Present gifts to students</li>
                            <li><i class="fa fa-pencil orange pe-3"></i>Program ending</li>
                        </ul>    
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-4">
                            <h2 class="circle6 text-white">1</h2>
                            <h5>Program opening</h5>
                            <p>Nunc at tincidunt nisl. Nullam fringilla quis odio vitae eleifend. Quisque sed mi</p>
                        </div>
                        <div class="col-sm-4">
                            <h2 class="circle6 text-white">2</h2>
                            <h5>Dance and have fun</h5>
                            <p>Nunc at tincidunt nisl. Nullam fringilla quis odio vitae eleifend. Quisque sed mi</p>
                        </div>
                        <div class="col-sm-4">
                            <h2 class="circle6 text-white">3</h2>
                            <h5>Program ending</h5>
                            <p>Nunc at tincidunt nisl. Nullam fringilla quis odio vitae eleifend. Quisque sed mi</p>
                        </div>    
                    </div>
                    <div class="py-5">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d877.7098199697903!2d77.32300702920837!3d28.363708298907817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cdc799aaeaad5%3A0x71eb9d0cbe091f12!2sArena%20Animation%20-%20Graphic%20%26%20Web%2C%20VFX%20and%20Gaming%2C%203D%20Max%20and%20Maya!5e0!3m2!1sen!2sin!4v1672492491514!5m2!1sen!2sin" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>             
                </div>
                <div class="col-sm-3 mt-5">
                    <div class="bord rounded-5  pt-5 pb-5">
                        <ul class="list-inline px-3">
                            <li>
                                <div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/cir3.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h4>43 castle road 517 district</h4>
                    				</div>
                    			</div>
                            </li>
                            <li class="mt-3 border-bottom pb-4 " >
                                <div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/cir4.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h4>29/07/2020</h4>
                                        <h4 class="text-primary">11AM to 15PM</h4>
                    				</div>
                    			</div>
                            </li>
                        </ul> 
                        <div class="row mt-5 px-3">
                            <div class="col-sm-3 px-0 text-end">
                                <img src="/static/images/thumb1.png" class="img-fluid">
                            </div>
                            <div class="col-sm-9 ">
                                <h4>Hubert Franck</h4>
                                <p>English Teacher</p>
                            </div>
                            <div class="col-sm-12 text-center mt-3">
                                <a href="/contact/"class="text-decoration-none py-2 pe-3 ps-2 bluz rounded-pill border"><span class="me-5 circle3"><i class="fa fa-long-arrow-right blue"></i></span><span class="text-white pe-4">Enroll Now</span></a>
                            </div>
                        </div>   
                    </div> 
                    <div class="bord rounded-5 py-5 mt-5">
                        <ul class="list-inline px-3 mb-0">
                            <li>
                                <div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/icon15.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h5>Call</h5>
                                        <p>+2 342 5446 67</p>
                    				</div>
                    			</div>
                            </li>
                            <li class="mt-3 " >
                                <div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/icon16.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h5>Work Time</h5>
                                        <p>Mon - Fri 8 AM - 5 PM</p>
                    				</div>
                    			</div>
                            </li>
                            <li class="mt-3 " >
                                <div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/icon17.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h5>Address</h5>
                                        <p>Franklin St, Greenpoint Ave</p>
                    				</div>
                    			</div>
                            </li>
                        </ul> 
                    </div>       
                </div>   
            </div>    
        </div>    
    </div>   
</section>    
<!--singleevent end-->


{% include 'footer.html' %}