{% include 'header.html' %}

<!--heading-->
<section id="about" class="about">
	<div class="row justify-content-center m-0 mt-5">
		<div class="col-sm-12 text-center bgig p-5 text-white">
		  <div class="bgigtop">
			<ul class="list-inline">
				<li class="list-inline-item border-end"><a href="/" class="text-decoration-none text-white pe-3 back">Home</a></li>
                <li class="list-inline-item border-end"><a href="/blog/" class="text-decoration-none text-white pe-3 back">Blog</a></li>
				<li class="list-inline-item">Natural Sciences & Mathematics Coursesvents</li>
			</ul>
            <h1>Natural Sciences & <br>Mathematics</h1>
            <i class="bg-warning w-25 text-center rounded-pill py-1 px-4 text-dark">English, Teachers, Shelly</i>
   	  	    <ul class="list-inline mt-4 ps-3 mb-0">
				<li class="list-inline-item"><a href="#" class="text-decoration-none text-white">17/09/2020</a></li>
				<li class="list-inline-item"><a href="#" class="text-decoration-none text-white">by Admin</a></li>
				<li class="list-inline-item"><a href="#" class="text-decoration-none text-white"><i class="fa fa-tags me-2 orange"></i>Teachers,School</a></li>
			</ul>
           </div>	  
		</div>
	</div>
</section>
<!--heading end-->

<!--news-->
<section class="news" id="news">
    <div class="row justify-content-center m-0 my-5">
        <div class="col-sm-12">
            <div class="row justify-content-center">
                <div class="col-sm-7">
                    <p>Donec hendrerit mauris sed tellus consequat, vitae eleifend risus posuere. Fusce vulputate dui ultrices mauris iaculis ultrices. Praesent hendrerit augue non massa efficitur, varius placerat nibh consectetur. Cras maximus semper magna, ut laoreet eros bibendum sit amet. Proin ut posuere neque. Curabitur eget mauris sit amet lorem faucibus lacinia. Duis sapien tellus, aliquam sit amet augue in, feugiat tempus orci.
                    </p> 
                    <p class="mt-5">Suspendisse feugiat, est sed dapibus eleifend, lectus nisl ullamcorper enim, et ullamcorper mauris ligula ac neque. Ut aliquam justo vitae nisi fermentum malesuada. Duis sem eros, varius vitae velit eu, mollis convallis turpis. Etiam ante nisl, maximus vitae sem non, dignissim tristique tellus. Phasellus at risus nec arcu malesuada aliquet. Pellentesque lacus ipsum, rutrum sit amet rutrum nec, imperdiet eu velit. Integer posuere maximus pulvinar. Integer feugiat mollis neque rhoncus cursus.
                    </p> 
                    <div class="row mt-5">
                        <div class="col-sm-4">
                            <p>Suspendisse feugiat, est sed dapibus eleifend, lectus nisl ullamcorper enim, et ullamcorper mauris ligula ac neque.
                            </p>    
                        </div>
                        <div class="col-sm-4">
                            <p>Quisque nunc tellus, sodales aliquam mauris in, placerat blandit quam. In ornare et nisi eget tempus.
                            </p>    
                        </div>
                        <div class="col-sm-4">
                            <p>Nullam dui nulla, consequat gravida tellus a, euismod cursus eros. Quisque ut lacus ligula. In sollicitud
                            </p>    
                        </div>   
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-6">
                            <h4>Unordered List</h4>
                            <ul class="list-inline">
                                <li><i class="fa fa-pencil orange pe-3"></i>Etiam ante nisl, maximus vitae sem non, dignissim</li>
                                <li><i class="fa fa-pencil orange pe-3"></i>Donec blandit, sapien eu porttitor blandit</li>
                                <li><i class="fa fa-pencil orange pe-3"></i>Sed at urna at massa viverra feugiat non</li>
                            </ul>     
                        </div>
                        <div class="col-sm-6">
                            <h4>Ordered List</h4>
                            <ol class="ps-3">
                                <li>Etiam ante nisl, maximus vitae sem non, dignissim</li>
                                <li>Donec blandit, sapien eu porttitor blandit</li>
                                <li>Sed at urna at massa viverra feugiat non</li>
                            </ol>    
                        </div>    
                    </div>
                    <p class="mt-4">In ornare et nisi eget tempus. Integer imperdiet sit amet nisi vel elementum. Pellentesque commodo, tellus vel ultricies sodales, eros metus dapibus dolor, in elementum ex turpis ornare nisl. Quisque dictum lorem eros, nec porta tellus aliquet in. Ut id consectetur felis. Praesent tincidunt metus nec tortor fringilla porttitor. Quisque pretium sapien ut mattis commodo.
                    </p>
                    <div class="card mt-5 text-center p-5 rounded-5">
						<h5>Nullam erat dolor, hendrerit id turpis laoreet, congue dapibus odio. Duis tempor eros tortor, a ornare arcu egestas quis. Donec vehicula eget quam maximus interdum. Duis ultrices sapien</h5>		
						<h6 class="mt-3">Polina Podolski</h6>
						<p class="mb-0 orange"><i>Mother</i></p>
                    </div>
                    <p class="mt-4">
                        Suspendisse feugiat, est sed dapibus eleifend, lectus nisl ullamcorper enim, et ullamcorper mauris ligula ac neque. Ut aliquam justo vitae nisi fermentum malesuada. Duis sem eros, varius vitae velit eu, mollis convallis turpis. Etiam ante nisl, maximus vitae sem non, dignissim tristique tellus. Phasellus at risus nec arcu malesuada aliquet.
                    </p> 
                    <p class="mt-4 border-bottom pb-5">
                        Duis a nibh id metus laoreet hendrerit ut non orci. Nam lacinia urna ex, et vestibulum nibh pretium ut. Sed venenatis euismod sapien, vel porta metus consectetur non. Sed suscipit auctor urna quis imperdiet. Mauris libero ex, cursus at semper sit amet, gravida id libero.
                    </p> 
                    <div class="row justify-content-start mt-5">
                       <h2>Comments</h2> 
                        <div class="col-sm-1 ms-0 mt-5">
                            <img src="/static/images/comm1.png">
                        </div>
                        <div class="col-sm-10 ms-3 mt-5">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><h5>{{recent_comment.name}}</h5></li>
                                <li class="list-inline-item"><p>{{recent_comment.date}}</p></li>
                            </ul>
                            <p>{{recent_comment.message}}</p>
                        </div>
                        <div class="col-sm-12 text-end">
                            <a href="#"class="text-decoration-none text-dark text-end"><span><i class="fa fa-reply me-2 blue"></i></span>Reply</a> 
                        </div>
                    </div>
                    <div class="mt-5">
                        <h2>Add Comment</h2>
                        <form method="POST" action="{% url 'commentsdata' %}">
                            {% csrf_token %} 
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form2.name }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form2.email }}
                                </div> 
                                <div class="col-sm-4">
                                    {{ form2.website }}
                                </div> 
                                <div class="col-sm-12 mt-3">
                                    {{ form2.message }}
                                </div>
                                <div class="col-sm-12 text-end mt-4">
                                    <button class="text-decoration-none py-2 pe-3 ps-2 bluz rounded-pill border-0">
                                        <span class="me-5 circle3"><i class="fa fa-long-arrow-right blue"></i></span>
                                        <span class="text-white pe-4 fs-5">Send Now</span>
                                    </button>
                                </div>     
                            </div>
                        </form>
                            
                    </div>                                        
                </div>
                <div class="col-sm-3">
					<div>
						<form class="position-relative">
							<input type="search" name="search" placeholder="search" class="form-control rounded-pill py-3 px-4">
							<button type="sumbit" class="border-0 bg-transparent position-absolute top-0 end-0 h-100 pe-4 blue "><i class="fa fa-search"></i></button>
						</form>
					</div>
					<div class="mt-5">
						<h4 class="text-center  rounded-pill py-3 bord">Categories</h4>
						<table class="table table-borderless mt-4">
							<tr class="fs-5">
								<td class="tab">Teachers</td>
								<td class="tab">45</td>
							</tr>
							<tr class="fs-5">
								<td class="tab">School News</td>
								<td class="tab">13</td>
							</tr>
							<tr class="fs-5">
								<td class="tab">Lessons</td>
								<td class="tab">6</td>
							</tr>
							<tr class="fs-5">
								<td class="tab">Shelly</td>
								<td class="tab">89</td>
							</tr>
						</table>
					</div>
                    <div class="mt-5">
                    	<h4 class="text-center  rounded-pill py-3 bord">Latest Posts</h4>
                    	<ul class="list-inline mt-4">
                    		<li class="px-4">
                    			<div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/post1.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h6><a href="#" class="text-decoration-none text-dark">Duis tempor eros tortor,<br> a ornare</a></h6>
                                        <p>17/09/2020</p>
                    				</div>
                    			</div>
                    		</li>
                    		<li class="px-4">
                    			<div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/post2.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h6><a href="#" class="text-decoration-none text-dark">Duis tempor eros tortor,<br> a ornare</a></h6>
                                        <p>17/09/2020</p>
                    				</div>
                    			</div>
                    		</li>
                    		<li class="px-4">
                    			<div class="row">
                    				<div class="col-sm-3 px-0 text-end">
                    					<img src="/static/images/post3.png" class="img-fluid">
                    				</div>
                    				<div class="col-sm-9">
                    					<h6><a href="#" class="text-decoration-none text-dark">Duis tempor eros tortor,<br> a ornare</a></h6>
                                        <p>17/09/2020</p>
                    				</div>
                    			</div>
                    		</li>
                    	</ul>
                    </div>
                    <div class="mt-5">
                    	<h4 class="text-center  rounded-pill py-3 bord">Recent Comments</h4>
                    	<ul class="list-inline mt-4">
                    		<li class="my-3"><a href="#" class="text-decoration-none"><span class="px-3"><i class="fa fa-comment-o orange"></i></span><span class="text-dark fw-bold">Admin</span><span class="text-dark px-2">in tempor eros tortor,a ornare<span></a></li>
                    		<li class="my-3"><a href="#" class="text-decoration-none"><span class="px-3"><i class="fa fa-comment-o orange"></i></span><span class="text-dark fw-bold">Admin</span><span class="text-dark px-2">in tempor eros tortor, a ornare<span></a></li>
                    		<li class="my-3"><a href="#" class="text-decoration-none"><span class="px-3"><i class="fa fa-comment-o orange"></i></span><span class="text-dark fw-bold">Admin</span><span class="text-dark px-2">in tempor eros tortor, a ornare<span></a></li>	
                    	</ul>
                    </div>
                    <div class="mt-5">
                    	<h4 class="text-center  rounded-pill py-3 bord">Archives</h4>
                    	<ul class="mt-4">
                    		<li class="my-2"><a href="#" class="text-decoration-none text-dark">December</a></li>
                    		<li class="my-2"><a href="#" class="text-decoration-none text-dark">January</a></li>
                    		<li class="my-2"><a href="#" class="text-decoration-none text-dark">February</a></li>
                    		<li class="my-2"><a href="#" class="text-decoration-none text-dark">March</a></li>
                    	</ul>
                    </div>
                    <div class="mt-5">
                    	<h4 class="text-center  rounded-pill py-3 bord">Tags</h4>
                    	<ul class=" mb-1 list-inline mt-4 ps-4">
                    		<li class=" list-inline-item border rounded-pill px-2 py-1"><a href="#" class="text-decoration-none text-dark">Teachers</a></li>
                    		<li class=" list-inline-item border rounded-pill px-2 py-1"><a href="#" class="text-decoration-none text-dark">Lessons</a></li>
                    		<li class=" list-inline-item border rounded-pill px-2 py-1"><a href="#" class="text-decoration-none text-dark">Shelly</a></li>
                    	</ul>
                    	<ul class=" list-inline ps-4">
                    		<li class=" list-inline-item border rounded-pill px-2 py-1"><a href="#" class="text-decoration-none text-dark">School</a></li>
                    		<li class=" list-inline-item border rounded-pill px-2 py-1"><a href="#" class="text-decoration-none text-dark">Theme</a></li>
                    		<li class=" list-inline-item border rounded-pill px-2 py-1"><a href="#" class="text-decoration-none text-dark">Class</a></li>
                    	</ul>
                    </div>
                    <div class="mt-5">
                        <h4 class="text-center  rounded-pill py-3 bord">Calendar</h4> 
                        <p class="text-center mt-3 fw-bold">July 2020</p>
                        <div class="row justify-content-center">
                            <div class="col-sm-9">
                                <table class="table table-borderless text-center">
                                    <tr class="text-secondary">
                                        <td>S</td>
                                        <td>M</td>
                                        <td>T</td>
                                        <td>W</td>
                                        <td>T</td>
                                        <td>F</td>
                                        <td>S</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                    </tr> 
                                    <tr>
                                        <td>5</td>
                                        <td class="circle7">6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                    </tr> 
                                    <tr>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                        <td>16</td>
                                        <td>17</td>
                                        <td>18</td>
                                    </tr> 
                                    <tr>
                                        <td>19</td>
                                        <td>20</td>
                                        <td>21</td>
                                        <td>22</td>
                                        <td>23</td>
                                        <td>24</td>
                                        <td>25</td>
                                    </tr> 
                                    <tr>
                                        <td>26</td>
                                        <td>27</td>
                                        <td>28</td>
                                        <td>29</td>
                                        <td>30</td>
                                        <td>31</td>
                                        <td></td>
                                    </tr>        
                                </table>
                                <ul class="list-inline">
                                    <li class="list-inline-item ps-2"><a href="#" class="text-decoration-none text-dark ps-4"><i class="fa fa-angle-left fw-bold fs-5 pe-2"></i>Prev</a></li>
                                    <li class="list-inline-item text-end ms-5 ps-5"><a href="#" class="text-decoration-none text-dark ps-4">Next<i class="fa fa-angle-right fw-bold fs-5 ps-2"></i></a></li>
                                </ul>    
                            </div>
                        </div>    
                    </div>    
				</div>    
            </div>    
        </div>    
    </div>     
</section>    
<!--news end-->

{% include 'footer.html' %}	